.shipping-img{
   
    width: 300px;
    text-align: center;
    
}
.shipping-contant h2{
     padding: 20px 0px;
     color: rgb(35, 21, 53);
     font-size:35px;
     font-family: emoji;
    font-weight: normal;
}
.shipping-top{
    padding: 30px 0px;
}
 
  
.shipping-container{
     
    display: flex;
    gap: 25px;
}
.shipping-container small{
    font-size: 14px;
    color: gray;
    
}
.shipping-img img{
     
    width:100%;
    overflow: hidden;
    height:100px;
    padding-bottom: 10px;
}
.shipping-contant p{
      padding:25px 0px;
      font-size: 15px;
      color: gray;
}