.Jewellery-Guide-top {
   width: min-content;
}
.Jewellery-Guide-top img {
  height: 325px;
    width: 550px;
    /* position: absolute;
    top: 0px; */
  display: block;
  object-fit: cover;
  transition: 1s;
}
.Jewellery-Guide-top img:hover {
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: 1s;
}
.jewellery-guide-contant {
  width: 50%;
  margin: auto;
  text-align: center;
  
}
.jewellery-top {
  background-color: beige;
  padding: 35px 0px;
  margin-top: 25px;
}
.jewellery-guide-contant h2 {
  margin: 0px;
  /* padding: 20px 0px; */
  padding-bottom: 20px;
  font-size: 25px;

  color: rgb(35, 21, 53);
  display: inline-block;
}
.jewellery-guide-contant p {
  font-size: 16px;

  text-align: center;
  margin: 0px;
  color: gray;
  letter-spacing: 1px;

  word-spacing: 2px;
}
