.card_wrap {
  padding: 10px;
  box-sizing: border-box;
  width: 25%;
  position: relative;
}
img {
  width: 100%;
  border-radius: 10px;
}
.next,
.prev {
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  padding: 10px;
  border-radius: 50px;
  background: #fff;
  color: rgb(37, 36, 36);
  z-index: 2;
  cursor: pointer;
}
.next {
  left: 50px;
}
.prev {
  left: 10px;
}
.card_wrap:hover {
  z-index: 1;
  background: #fff;
  height: auto;
  cursor: pointer;
  top: 0;
  border-radius: 13px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}
:root{
  --maxHeight : 100% - 200px;
}
.card_wrap:hover .card_text {
  position: absolute; 
  background-color: white;
  padding: 0px 17px 30px 20px;
  left: 0px;
  top: var(--maxHeight);
  border-radius: 0px 0px 13px 13px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
  transition: all .3s;
}
.copy{
  position: fixed;
  left: 10px;
  border: 10px;
  padding: 10px;
  border-radius: 50px;
}
.slider_box {
  border-radius: 10px;
  border: 1px solid #606770;
  position: relative;
}
.card_text {
  padding: 10px;
  text-align: left; 
  transition: all .3s;
}
.rate{
  padding: 0px;
  margin: 0px;
  margin-top: 10px;

}
.rate span.current-rate {
  font-size: 1.3rem;
  font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: inherit;
  color: #4f3267;
  margin-right: 15px;
}
.rate span.prev-rate {
  font: 1rem;
  font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: inherit;
  color: #4e555e;
  text-decoration: line-through;
}
.delivery_date {
  text-transform: capitalize;
  font-size: 1.1 rem;
  color: #f37cfa;
  margin: 0px;
  font-family: "InterSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: calc(100% - 50px);
  color: #9d9fa4;
  margin-bottom: 10px;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}
.card_text .home_try {
  justify-content: space-between;
  margin-top: 25px;
  display: none;
  box-sizing: border-box;
}
.card_wrap:hover .card_text .home_try {
  display: flex;
}
.card_wrap::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 40px;
  border-radius: 13px;
  background: red;
  z-index: 2;
}
.tried {
  width: 70%;
  box-sizing: border-box;
  text-align: center;
}
.video{
  width: 20%;
  box-sizing: border-box;
  text-align: center;
  
}
.home_try .tried a {
  font-size: 13px;
  text-transform: uppercase;
  color: #333;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #4e555e;
  border-radius: 15px;
  display: inline-block;
}
.home_try .video a {
  font-size: 13px;
  padding: 10px 14px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border: 1px solid green;
  color: green;
  display: inline-block;
}
.w-100 {
  width: 100%;
}
.price_filter {
  background: rgba(179, 212, 252, 0.5);
  width: 50%;
  border-radius: 13px;
  padding: 20px 0px;
  max-width: 100%;
  box-sizing: border-box;
  text-align: left;
}
.filter_case {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter_case li {
  width: 120px;
  background: #ffffff;
  display: block;
  margin: 8px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 13px;
  padding: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
.filter_title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
  margin-left: 20px;
}
.item_showen ul::-webkit-scrollbar {
  display: none;
}
.types_main::-webkit-scrollbar{
  display:none;
}


