/* .label .select {
  font-size: 11px;
  font-weight: 500;
} */
.form_inp input {
  border: none;
}
.form_inp input:focus {
  outline: none;
}
.bestseller {
  padding: 5px 10px;
  font-size: 11px;
  background-color: rgb(224, 154, 154);
  display: inline-block;
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
}
.offer {
  margin-top: 10px;
  height: 20px;
  overflow: auto;
}
.offer .flat {
  color: red;
  font-size: 600;
}
.offer .expires {
  color: blue;
  font-weight: 600;
}
.main_addcart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.main_addcart div {
  width: 40%;
}

.add_cart button {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(247, 3, 255), blue);
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.add_cart p {
  font-size: 13px;
  color: #33363e;
  margin-top: 5px;
}
.add_cart p a.notify {
  color: #4f3267;
}
.find {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: #aca4a4;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #33363e;
  border-radius: 15px;
}
.product_details {
  padding: 40px 0px;
}
.product_details_content h3 {
  font-size: 23px;
  font-weight: 600;
  /* color: ; */
}
.product_details_content p {
  font-size: 15px;
  font-weight: 400;

  margin-bottom: 0px;
}
.product_details_content .sku_color {
  color: #4f3267;
  padding-left: 5px;
}
.jewellary_about {
  width: 80%;
}
.product_details_box {
  width: 25% !important;
  height: auto !important;
  border: 1px solid rgb(204, 197, 197);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 15px;
  background-color: #f7f4f4;
}
.product_details_box h6 {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.product_details_box h6 span {
  padding-right: 5px;
}
.product_details_box1 {
  width: 90%;
  height: auto;
  border: 1px solid rgb(204, 197, 197);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 15px;
  background-color: #f7f4f4;
}
.margin_right_one {
  margin-right: 10px;
}
.product_details_box1 h5 {
  font-size: 18px;
  letter-spacing: 0px;
}
.text_align {
  text-align: center;
}
.price_breakup_flex {
  display: flex;
  margin-top: 50px;
}
.price_breakup_flex h5 {
  font-size: 22px;
  font-weight: 600;
}
.price_breakup_flex .price_breakub_btn {
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  margin-left: 10px;
}
.price_breakub_btn p {
  margin-bottom: 0px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}
.price_breakup_details {
  padding: 40px 40px 40px 0px;
  width: 100%;
}
.price_breakup_heading_flex {
  display: flex;
  justify-content: space-between;
  height: 38px;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.price_breakup_heading_flex li {
  font-size: 16px;
  font-weight: 500;
}
.price_breakup_item {
  font-size: 12px;
  color: #4f3267;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}
.price_breakup_item_flex {
  display: flex;
  justify-content: space-between;
}

.bottom_border {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.price_breakup_item_flex span {
  text-decoration: line-through;
}
.profileboxvisible {
  display: block;
}
/* .profileboxhidden {
  display: none;
} */
.profileboxhidden {
  position: absolute;
  right: -150%;
  width: 100%;
  top: 70px;
  display: block;
  z-index: 1;
  transition: all 1s;
}
.opened {
  right: 0px !important;
  transition: all 1s;
}
.modal-content-right {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 50px;
  width: 600px;
  z-index: 99;
  /* background-color: #fff; */
  outline: none;
  /* padding: 20px; */
  /* transform: "translateX(100%)"; */
  transition: all 1s;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

@media (max-width: 576px) {
}
