.explore-button-contant{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.explore-button{
    padding: 5px 20px;
}
.menu-item1{
    display: flex;
    justify-content: space-between;
    background-color: #f6eff6;
    color: #231535;
    padding: 20px 20px;
}
.city-heading{
    font-size: 20px;
    color: #231535;
}
.right-arrow{
    font-size: 17px;
    font-weight: 900;
    color: #231535;
}
.menu-item2{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9fa;
    color: #231535;
    padding: 20px 20px; 
}
.explore-button{
    border: none;
    background-color:#8863fb;
    padding: 10px 20px;
}
.explore-prf{
    font-size: 14px;
    color: #231535;
}
.pincode-text{
    display: flex;
    justify-content: space-between;
}
.innnnnn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.explore-image{
    width: 100%;
    height: 300px;
}