/* .diamond-image {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
.inner-diamond-img{
  position: relative;

}
.inner-diamond-img img{
  /* position: absolute; */
  top:-257px;
}
.diamond-guide{
  background-color:rgb(246, 246, 246) ;
}
.diamond-shop-section{
  background-color:rgb(246, 246, 246) ;
}
.diamond-heading {
  color: "rgb(35, 21, 53)";
  font-size: 27px;
  font-weight: 500;
  font-family: sans-serif;
}
.care-diamond {
  transition: transform 200ms;
  cursor: pointer;
}
.diamond-guide p {
  font-family: sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  color: "rgb(35, 21, 53)";
}
.diamond-guide ul li {
  font-family: sans-serif;
  list-style: none;
  font-size: 15px;
  padding-bottom: 10px;
  color: "rgb(35, 21, 53)";
}

.diamond-shop {
  display: flex;
  justify-content: center;
  padding: 0px 1.2rem;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 50px;
}
.diamond-shop li {
  padding: 0px 2rem;
}
.diamond-shop li svg {
  font-size: 80px;
  color: gray;
}
.basics-diamond {
  margin-top: 20px;
  margin-bottom: 20px;
}
.diamond-shop li p {
  padding-top: 20px;
  color: "rgb(35, 21, 53)";
}
.css-dvvvhr {
  max-width: 100%;
  display: block;
  overflow-y: hidden;
}
.css-8ujz6y {
  display: inline-block;
  width: 20%;
  position: relative;
  font-size: 1.1rem;
  text-align: center;
}
.css-dvvvhr img {
  max-height: 120px;
  display: inline-block;
  overflow: hidden;
  width: 81%;
}
.css-1kd6wsa {
  position: absolute;
  inset: -120px 0px -10px;
}
.css-xsvfbs {
  height: 0px;
  border-bottom: 1px solid rgb(136, 99, 251);
  width: 98%;
}
.css-1em6721 {
  width: 60%;
  font-size: 1.2rem;
  padding: 3px 10px;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}
.css-1s7b2mb {
  height: 10px;
  width: 10px;
  position: absolute;
  transform: rotate(45deg);
  background: rgb(247, 247, 247);
  z-index: 10;
  top: -6px;
  border-top: 1px solid rgb(215, 215, 215);
  border-left: 1px solid rgb(215, 215, 215);
  left: 233px;
}
.css-9z3dwl {
  color: rgb(136, 99, 251);
  font-weight: bold;
}
.css-1em6721{
  display: none;
}
.css-8ujz6y:hover .css-1em6721 {
  display: block;
}
