.carriers_background {
  background-color: antiquewhite;
  width: 100%;
}
.carrier_content {
  padding: 40px 0px;
}
.carrier_content h1 {
  font-size: 40px;
  color: rgb(88, 79, 79);
  word-spacing: 2px;
  /* letter-spacing: 1px; */
  font-weight: 700;
}
.carrier_content p {
  font-size: 16px;
  font-weight: 500;
  width: 70%;
  /* line-height: ; */
}
.carrier_slide {
  padding: 40px 0px;
}
.carrier_slide .sweaper_slide {
  margin: 40px;

  border-radius: 30px;
  overflow: hidden;
}
.slide_video {
  position: relative;
  width: 100%;
  height: 300px;

  margin-bottom: 0px;
}
.slide_video .banner_slide_video {
  /* position: fixed; */
  padding: 40px;
  padding-top: 0px;
  border-radius: 20px;
}
.slide_content {
  padding: 40px;
  margin-left: 40px;
  margin-top: -39px;
  width: 300px;
  height: 80px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}
.slide_content p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}

.carrier_review {
  background-color: rgb(245, 240, 233);
  width: 100%;
}
.carrier_review_content {
  padding: 80px 0px;
}
.carrier_review_content h1 {
  font-size: 40px;
  color: rgb(88, 79, 79);
  word-spacing: 2px;
  /* letter-spacing: 1px; */
  font-weight: 700;
  text-align: center;
}
.carrier_review_content p {
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  text-align: center;
  margin: auto;
  /* line-height: ; */
}
.review_button {
  text-align: center;
}
.review_button button {
  font-weight: 500;
  margin: 20px;
}
.work_together {
  background-color: azure;
  width: 100%;
}
.work_content {
  padding: 80px;
}
.work_content h1 {
  font-size: 40px;
  color: rgb(88, 79, 79);
  word-spacing: 2px;
  /* letter-spacing: 1px; */
  font-weight: 700;
  text-align: center;
}
.work_content p {
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  text-align: center;
  margin: auto;
  /* line-height: ; */
}
.work_content button {
  display: flex;
  justify-content: center;
  margin: auto;
}
.signUp_section {
  background-color: rgb(32, 32, 54);
  width: 100%;
}
.work_content span {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 50px;
  color: rgb(253, 251, 255);
}
.signUp_section h1 {
  font-size: 40px;
  color: #fff;
  word-spacing: 1px;
  /* letter-spacing: 1px; */
  font-weight: 700;
  text-align: center;
}
