 .ourtem{
    width: 250px;
    height: 300px;
 }
 .ourtem .our-image{
    width: 100%;
    height: 100%;
 }
 .about-ourtem{
    display: flex;
    justify-content:space-around;
 }
 .ourtem p{
    color: rgb(35, 21, 53);
    line-height: 20px;
 }
 .our-contant{
    color: rgb(35, 21, 53);
    line-height: 20px;
 }